/* light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71; */


* {
  border: 2px solid red;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Quicksand', sans-serif;
  color: #000000;
  background: linear-gradient(#164e73, #d9d5c1);
}

h1, h2 {
  color: #ffffff;
}

button {
  background-color: #134d71;
  color: #ffffff;
}

img {
  width: 5%;
  height: 5%;
}

/* .hidden {
  display: none;
} */
